body {
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Montserrat', sans-serif;
}

.mt-lang-ar, .mt-lang-ar {
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #333;
}

a:hover {
  color: #333;
  text-decoration: none;
}

p {
  font-weight: 600;
}

.mt-btn {
  padding: 10px 25px;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  border-radius: 24px;
  background-color: #E21F26;
  font-size: 14px;
  margin-top: 30px;
}

.mt-btn:hover {
  color: #fff;
  background-color: #214099;
}

.mt-btn__blue {
  background-color: #214099;
}

.mt-btn__blue:hover {
  background-color: #E21F26;
}

.mt-btn__line {
  border: 1px solid #214099 !important;
  background-color: transparent;
  color: #214099;
}

.mt-btn__line:hover {
  background-color: #E21F26;
  border-color: #E21F26 !important;
}

.mt-btn__underline {
  background-color: transparent;
  padding: 0;
  color: #333;
  text-decoration: underline;
}

.mt-btn__underline:hover {
  color: #E21F26;
  background-color: unset;
}

.slick-dots {
  position: absolute;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slick-dots li {
  margin-right: 10px;
}

.slick-dots li:last-of-type {
  margin: 0;
}

.slick-dots li button {
  font-size: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.slick-dots li button:before {
  content: "";
  height: 12px;
  width: 12px;
  background-color: #83D4EC;
  border-radius: 50%;
  display: block;
}

.slick-dots li.slick-active button:before {
  background-color: #214099;
}

/* section default stats */
.mt-section__padding-lg--t {
  padding-top: 120px;
}

.mt-section__padding-lg--b {
  padding-bottom: 120px;
}

.mt-section__padding-lg--tb {
  padding-top: 120px;
  padding-bottom: 120px;
}

.mt-section__padding-md--t {
  padding-top: 90px;
}

.mt-section__padding-md--b {
  padding-bottom: 90px;
}

.mt-section__padding-md--tb {
  padding-top: 90px;
  padding-bottom: 90px;
}

.mt-section__padding-sm--t {
  padding-top: 60px;
}

.mt-section__padding-sm--b {
  padding-bottom: 60px;
}

.mt-section__padding-sm--tb {
  padding-top: 60px;
  padding-bottom: 60px;
}

section h2 {
  font-size: 50px;
  font-weight: bold;
  color: #333;
  max-width: 400px;
}

/* section default stats */
/* input ends */
button:focus {
  outline: none;
}

.mt-input-wrapper {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  outline: none;
  padding: 8px 12px;
  color: #333;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #333;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #333;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #333;
}

input::placeholder,
textarea::placeholder {
  color: #333;
}

input:focus, input:active,
textarea:focus,
textarea:active {
  border-color: #E21F26 !important;
}

input {
  height: 45px;
}

input[type="submit"] {
  border-bottom: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  height: auto;
  width: auto;
}

input[type="radio"] {
  display: none;
  margin-bottom: 15px;
}

input[type="radio"]:checked ~ label:after {
  display: block;
}

input[type="radio"] ~ label {
  margin-left: 30px;
  position: relative;
}

input[type="radio"] ~ label:before, input[type="radio"] ~ label:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

input[type="radio"] ~ label:before {
  top: 2px;
  left: -30px;
  height: 20px;
  width: 20px;
  border: 1px solid #76787d;
}

input[type="radio"] ~ label:after {
  top: 5px;
  left: -27px;
  height: 14px;
  width: 14px;
  background-color: #e1251b;
  display: none;
}

textarea {
  height: 150px;
  resize: none;
}

form .mt-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mt-half .mt-input-wrapper {
  width: calc(50% - 15px);
}

.wpcf7-not-valid-tip {
  position: absolute;
}

.ajax-loader {
  position: absolute !important;
  top: 10px;
}

/* input ends */
/* header__fixed ends */
.admin-bar .header_fixed.mt-header {
  top: -38px;
}

/* header__fixed ends */
.mt-header .ham-menu {
  display: none;
}

.mt-header .ham-menu__ham-line {
  background-color: #214099;
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mt-header .ham-menu__ham-line:last-of-type {
  margin-bottom: 0;
}

.mt-pagination {
  display: none;
}

#infscr-loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#infscr-loading img {
  width: 70px;
}

.mt-header__menu ul .mt-search {
  display: none;
}

.mt-search {
  margin: 0 15px;
}

.mt-search .mt-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #eee;
  border-radius: 30px;
  margin-bottom: 0;
  margin: 20px 0;
}

.mt-search .mt-input-wrapper input {
  background-color: transparent;
  border-color: #979797;
  border: 0;
}

.mt-search .mt-input-wrapper button {
  border: none;
  background-color: transparent;
}

.mt-search .mt-input-wrapper button i {
  color: #9ACDD9;
  font-size: 20px;
  padding: 0 10px;
}

.mt-header__top {
  padding: 15px 0;
}

.mt-header__left .mt-search {
  max-width: 400px;
}

.mt-header__logo {
  margin: 0 -15px;
  text-align: center;
}

.mt-user-options {
  text-align: right;
}

.mt-user-options a {
  color: #333;
  margin: 10px;
}

.mt-user-options i {
  font-weight: 600;
  font-size: 20px;
}

.mt-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mt-header__menu li a {
  color: #333;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 10px;
  margin: 0 5px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.mt-header__menu li a:after {
  content: "";
  width: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.mt-header__menu li.mt-active-menu a, .mt-header__menu li a:hover {
  color: #214099;
}

.mt-header__menu li.mt-active-menu a:after, .mt-header__menu li a:hover:after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #214099;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mt-mini-cart-open {
  color: #fff;
  font-size: 0;
  padding: 13px;
}

.mt-mini-cart-open i {
  color: #fff;
  font-size: 18px;
}

.mt-mini-cart-open:hover {
  font-size: 16px;
  padding: 10px 25px;
}

.mt-user {
  border-radius: 50%;
  background-color: #F8F7FA;
  position: relative;
}

.mt-user i {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #214099;
}

.mt-user img {
  display: none;
}

.mt-mini-cart {
  background-color: #f3f3f3;
  z-index: 12;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  right: -380px;
  width: 380px;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-width: calc(100% - 20px);
}

.mt-mini-cart__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #ecebeb;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mt-mini-cart__head .mt-cart-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-right: 1px solid #ecebeb;
  color: #0033a1;
}

.mt-mini-cart__head h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 0;
}

.mt-mini-cart__head .mt-mini-cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-left: 1px solid #ecebeb;
  font-size: 20px;
  font-weight: bold;
}

.mt-mini-cart__body {
  padding: 0 20px;
  height: calc(100% - 190px);
  overflow-y: scroll;
}

.mt-mini-cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid #ecebeb;
}

.mt-mini-cart__item--img img {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.mt-mini-cart__item--content h4 {
  font-size: 15px;
  font-weight: bold;
}

.mt-mini-cart__item--content p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.mt-mini-cart__item--remove {
  position: absolute;
  top: 15px;
  right: 0;
}

.mt-mini-cart__item--remove i {
  font-size: 16px;
}

.mt-mini-cart__sub-total {
  background-color: #fff;
  padding: 15px 40px;
}

.mt-mini-cart__sub-total span {
  font-size: 18px;
  font-weight: 700;
}

.mt-mini-cart__sub-total .mt-total-price {
  color: #0033a1;
}

.mt-mini-cart__checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mt-mini-cart__checkout a {
  width: 50%;
  text-align: center;
  display: inline-block;
  padding: 15px;
  color: #fff;
  font-size: 18px;
}

.mt-btn-checkout {
  background-color: #333;
}

.mt-btn-viewcart {
  background-color: #666;
}

.mt-mini-cart.active {
  right: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mt-billboard__item {
  position: relative;
}

.mt-billboard__content {
  position: absolute;
  top: 75px;
  left: 50px;
  width: calc(100% - 30%);
  color: #fff;
  z-index: 2;
}

.mt-billboard__content h2 {
  color: #fff;
  font-size: 35px;
  width: 75%;
}

.mt-billboard-slider img {
  height: 100%;
  width: 100%;
}

.mt-home-about__content p {
  font-weight: bold;
  font-size: 18px;
}

#counters_1 .mt-counter-wrapper {
  text-align: center;
}

#counters_1 .mt-counter-wrapper span {
  font-size: 22px;
}

#counters_1 .counter {
  color: #214099;
  font-weight: bold;
  font-size: 60px;
}

#counters_1 .counter:after {
  content: "+";
}

.mt-home-business__list {
  margin-top: 30px;
}

.mt-home-business__list--item h3 {
  font-size: 22px;
  font-weight: bold;
}

.mt-home-business__list--item img {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
}

.mt-home-business__list--item i {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.mt-home-business__list--item a:hover i {
  margin-left: 10px;
}

.mt-home-product {
  position: relative;
  background: radial-gradient(104.12% 104.12% at 50% 53.84%, #FFFFFF 0%, #13DDFC 100%);
}

.mt-home-product h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 30px 0;
}

.mt-home-product .mt-view-more {
  position: absolute;
  bottom: -48px;
  right: 15px;
}

.mt-home-product .mt-view-more i {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.mt-home-product .mt-view-more:hover i {
  margin-left: 10px;
}

.mt-product__item {
  padding: 15px;
  background-color: #fff;
  border-radius: 14px;
}

.mt-product__item img {
  border-radius: 14px;
  margin-bottom: 5px;
}

.mt-product__item p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  height: 47.6px;
}

.mt-product__item a {
  display: block;
}

.mt-product__item .mt-btn {
  margin-top: 15px;
  text-align: center;
}

.mt-product-slider .slick-list {
  margin: 0 -30px 0 0;
}

.mt-product-slider .slick-track {
  margin: 0 -15px;
}

.mt-product-slider .slick-slide {
  padding: 0 15px;
  height: 100%;
}

.mt-home-category {
  background-color: #214099;
}

.mt-home-category .col-12 {
  padding: 0;
}

.mt-home-category h2 {
  color: #fff;
  margin-bottom: 30px;
}

.mt-home-category__item {
  position: relative;
  height: 100%;
  height: 300px;
}

.mt-home-category__item h3 {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.mt-home-category__item:hover h3 {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.mt-home-category__item a {
  width: 100%;
  height: 100%;
}

.mt-home-category__item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mt-brand h2 {
  max-width: unset;
  font-size: 22px;
  margin-bottom: 30px;
}

.mt-brand img {
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0 15px;
  max-width: 200px;
}

.mt-meeting {
  position: relative;
}

.mt-meeting__img {
  position: relative;
}

.mt-meeting__img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(33, 63, 153, 0.5);
  height: 100%;
  width: 100%;
}

.mt-meeting__img img {
  min-height: 300px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.mt-meeting h2 {
  max-width: 600px;
  color: #fff;
}

.mt-meeting__content {
  position: absolute;
  top: 50px;
  max-width: 620px;
}

.mt-footer {
  background-color: #03153D;
}

.mt-footer__top {
  border-bottom: 1px solid #0F2F76;
}

.mt-footer__top a, .mt-footer__bottom a {
  color: #fff;
  font-weight: 600;
}

.mt-footer__top a:hover, .mt-footer__bottom a:hover {
  color: #E21F26;
}

.mt-footer__menu a {
  padding: 5px 0;
}

.mt-footer__newsletter {
  color: #fff;
}

.mt-footer__newsletter h3 {
  font-weight: bold;
  font-size: 24px;
}

.mt-footer__newsletter input {
  padding-right: 50px;
  display: block;
}

.mt-footer__newsletter .mt-input-wrapper input, .mt-footer__newsletter .mt-input-wrapper input::-webkit-input-placeholder {
  color: #fff;
}

.mt-footer__newsletter .mt-input-wrapper input, .mt-footer__newsletter .mt-input-wrapper input:-ms-input-placeholder {
  color: #fff;
}

.mt-footer__newsletter .mt-input-wrapper input, .mt-footer__newsletter .mt-input-wrapper input::-ms-input-placeholder {
  color: #fff;
}

.mt-footer__newsletter .mt-input-wrapper input, .mt-footer__newsletter .mt-input-wrapper input::placeholder {
  color: #fff;
}

.mt-footer__newsletter .mt-input-wrapper button {
  position: absolute;
  right: 0px;
  bottom: 5px;
  background-color: transparent;
  border: 0;
}

.mt-footer__newsletter .mt-input-wrapper button i {
  color: #fff;
}

.mt-footer__newsletter .mt-input-wrapper button i:hover {
  color: #E21F26;
}

.mt-footer .mt-input-wrapper {
  margin-bottom: 0;
}

.mt-footer__bottom {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mt-footer__bottom p {
  margin-bottom: 0;
}

.mt-footer__bottom a {
  color: #fff;
}

.mt-footer__bottom .container {
  border-top: 1px solid #214099;
}

.mt-footer__bottom h5 {
  margin-bottom: 0;
  font-weight: bold;
}

.mt-footer__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mt-social-icons a {
  margin-left: 20px;
  font-size: 20px;
}

.mt-conditions a {
  margin-right: 20px;
}

.mt-title-small, .mt-footer__menu h3, .mt-log-out {
  color: #4D64AD !important;
  font-size: 18px;
  font-weight: 500;
}

.mt-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mt-aside-wrapper {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #03153D;
  height: 100%;
  color: #fff;
}

.mt-aside-wrapper .mt-section-heading h2 {
  color: #fff;
  padding: 10px 15px;
}

.mt-aside-wrapper:after {
  content: "";
  width: 300%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #03153D;
  z-index: -1;
  -webkit-box-shadow: 0 -1px 0 #e1e1e1 inset;
  box-shadow: 0 -1px 0 #e1e1e1 inset;
  right: 0;
  background-position: left top;
}

.mt-aside-wrapper input, .mt-aside-wrapper textarea {
  color: #fff;
}

.mt-aside-wrapper input::-webkit-input-placeholder, .mt-aside-wrapper textarea::-webkit-input-placeholder {
  color: #fff;
}

.mt-aside-wrapper input:-ms-input-placeholder, .mt-aside-wrapper textarea:-ms-input-placeholder {
  color: #fff;
}

.mt-aside-wrapper input::-ms-input-placeholder, .mt-aside-wrapper textarea::-ms-input-placeholder {
  color: #fff;
}

.mt-aside-wrapper input::placeholder, .mt-aside-wrapper textarea::placeholder {
  color: #fff;
}

.mt-pattern {
  position: relative;
  padding-bottom: 80px;
}

.mt-pattern:after {
  content: '';
  background-image: url("../img/binzagr-pattern.svg");
  height: 60px;
  width: 100%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bott;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.mt-product-list-page {
  background-color: #8BEFFE;
}

.mt-product-list-page h2 {
  font-size: 20px;
}

.mt-product-list-page .card {
  background-color: unset;
  border: 0;
}

.mt-product-list-page .card-header {
  background-color: unset;
  padding: 0;
  border-bottom: 1px solid #4D64AD;
}

.mt-product-list-page .card-header h2 {
  max-width: unset;
}

.mt-product-list-page .card-header button:after {
  font-family: "FontAwesome";
  content: "\f106 ";
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  position: absolute;
  right: 15px;
  color: #9ACDD9;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.mt-product-list-page .card-header button.collapsed:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mt-product-list-page .card-body {
  padding: 0 0 0 30px;
  border: 0;
}

.mt-product-list-page .card-body li {
  padding: 10px 15px;
}

.mt-product-list-page .card-body li:last-of-type {
  border-bottom: 0;
}

.mt-product-list-page .card-body a {
  color: #fff;
}

.mt-product-list-page .card-body li:hover, .mt-product-list-page .card-body li.active {
  background-color: #214099;
}

.mt-product-list-page .card-body li, .mt-product-list-page .card-body {
  border-bottom: 1px solid #4D64AD;
}

.mt-product-list-page .btn {
  padding: 0;
  text-align: unset;
  font-weight: bold;
  color: #fff;
  padding: 30px 15px 15px;
}

.mt-product-list-page .btn-link:hover {
  color: #fff;
  text-decoration: unset;
}

.mt-product-list-page .mt-product__item {
  margin-bottom: 30px;
}

.mt-product-list-page .mt-product-list {
  margin-bottom: -30px;
}

.btn-link {
  text-decoration: none;
}

aside.mt-sign-in__form {
  color: #fff;
}

aside.mt-sign-in__form a {
  color: #fff;
}

aside.mt-sign-in__form a:hover {
  color: #E21F26;
}

.mt-tabs .mt-section-heading h2 {
  padding-left: 30px;
}

.mt-tabs .list-group-item.active, .mt-tabs .list-group-item {
  background-color: unset;
  border: 0;
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #4D64AD;
}

.mt-tabs .list-group-item:hover, .mt-tabs .list-group-item.active {
  background-color: #214099;
}

.mt-tabs .mt-log-out {
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.mt-tabs .mt-log-out:hover {
  color: #E21F26 !important;
}

.mt-tabs .list-group-item img {
  width: 18px;
  margin-right: 10px;
}

.mt-input-dark input, .mt-input-dark textarea {
  border-bottom: 1px solid #214099;
}

.mt-buttons img {
  width: 18px;
  margin-right: 10px;
  margin-top: -3px;
}

.mt-buttons .mt-btn__line:hover img {
  -webkit-filter: invert(97%) sepia(100%) saturate(11%) hue-rotate(236deg) brightness(104%) contrast(104%);
          filter: invert(97%) sepia(100%) saturate(11%) hue-rotate(236deg) brightness(104%) contrast(104%);
}

.mt-portal-page {
  background-color: #F7F7FA;
}

.mt-portal__menu-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  height: 250px;
  margin-bottom: 30px;
  position: relative;
}

.mt-portal__menu-item img {
  height: 100px;
  width: auto;
  margin-bottom: 50px;
}

.mt-portal__menu-item h3 {
  font-weight: bold;
  color: #214099;
}

.mt-portal__menu-item--content {
  position: absolute;
  bottom: 20px;
}

.mt-portal__menu-item--content h3 {
  margin-right: 60px;
}

.mt-portal__menu-item--content i {
  position: absolute;
  right: 20px;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
}

.mt-portal__portal-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

aside.mt-sign-in__form, .mt-register-offline,
.mt-aside-wrapper .list-group-item,
.mt-account-page .mt-section-heading h2,
.mt-product-list-page .mt-section-heading h2,
.mt-dashboard-content,
.mt-product-head,
.mt-product-list-page .btn {
  padding-left: 50px;
  padding-right: 50px;
}

.mt-product-head {
  margin-bottom: 30px;
}

.mt-product-head .mt-search {
  margin: 0;
}

.mt-inner-page-banner__wrapper {
  position: relative;
}

.mt-inner-page-banner__wrapper h2 {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 60px;
  z-index: 1;
}

.mt-inner-page-banner__wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 300px;
  max-height: 450px;
  -o-object-position: left;
     object-position: left;
}

.mt-profile-img {
  border-radius: 50%;
  width: 80px;
  display: block;
}

.mt-about-us-page .mt-about {
  background-color: #03153D;
  color: #fff;
}

.mt-about-us-page .mt-pattern {
  padding-bottom: 150px;
}

.mt-about-us-page .mt-pattern:after {
  height: 140px;
}

.mt-about-us-page h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mt-mission-vision {
  background-image: url("../img/mission-vision.jpg");
  background-size: cover;
}

.mt-mission-vision__content--item {
  padding-top: 50px;
}

.mt-mission-vision__content--item p {
  font-weight: bold;
}

.mt-value {
  margin-bottom: -30px;
}

.mt-value__item {
  text-align: center;
  margin-bottom: 50px;
}

.mt-value__item img {
  height: 80px;
  margin-bottom: 15px;
}

.mt-value__item h3 {
  margin-bottom: 10px;
  color: #214099;
}

.mt-value__item p {
  font-weight: 600;
}

.mt-leadership {
  background-color: #F7F7FA;
  overflow: hidden;
}

.mt-leadership__item {
  width: 100%;
}

.mt-leadership__item p {
  font-weight: 500;
}

.mt-leadership__item--user-detail {
  margin-bottom: 60px;
}

.mt-leadership__item--user-detail img {
  width: 150px;
}

.mt-leadership__item--user-detail h4 {
  font-weight: bold;
}

.mt-leadership__item--content {
  max-width: 800px;
  width: calc(100% - 200px);
  position: relative;
  z-index: 2;
}

.mt-leadership__item--user-img {
  position: absolute;
  right: -50px;
  bottom: 0;
  max-width: 40%;
  max-height: 95%;
  min-width: 400px;
}

.mt-leadership__item--user-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.mt-leadership__banner:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 100%;
}

.mt-leadership .row .col-12:nth-of-type(even) .mt-leadership__item--content {
  position: relative;
  margin-left: auto;
}

.mt-leadership .row .col-12:nth-of-type(even) .mt-leadership__item--user-img {
  right: auto;
  left: -50px;
}

.mt-leadership .row .col-12:nth-of-type(even) .mt-leadership__item:before {
  content: "";
  height: 100%;
  width: 120%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -50px;
  left: -50px;
  z-index: 0;
}

.mt-team {
  color: #fff;
}

.mt-team .mt-meeting__img:after {
  display: none;
}

.mt-sign-in {
  margin-bottom: -1px;
}

.mt-cart__item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
}

.mt-cart__item--close {
  position: absolute;
  right: -12px;
  top: -12px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #214099;
}

.mt-cart__item--close i {
  color: #fff;
}

.mt-cart__item--close i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mt-cart__item a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.mt-quantity {
  position: relative;
  background-color: #83D4EC;
  border-radius: 0;
  bottom: -15px;
  right: -15px;
  border-bottom-right-radius: 14px;
}

.mt-quantity .btn-number {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 0;
  color: inherit;
}

.mt-quantity .input-qty {
  height: 40px;
  text-align: center;
  font-weight: 600;
  border: 0;
  outline: none;
  padding: 8px 15px;
  border-radius: 0;
}

.mt-quantity .quantity-plus {
  right: 1px;
  top: 0;
}

.mt-quantity .quantity-minus::before, .mt-quantity .quantity-plus::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px;
  height: 2px;
  border-top: 2px solid;
  margin: auto;
}

.mt-quantity .quantity-plus::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 2px;
  height: 10px;
  border-left: 2px solid;
  margin: auto;
}

.row > * {
  position: relative;
}

@media screen and (min-width: 991px) {
  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
  .container-fluid .mt-aside-wrapper {
    margin-left: -50px;
    margin-right: -12px;
  }
  .mt-inner-page-banner__wrapper h2 {
    left: 50px;
  }
}

@media screen and (min-width: 1350px) {
  .header_fixed.mt-header .mt-header__bottom {
    background-color: #fff;
    z-index: 98;
    position: fixed;
    width: 100%;
    margin: 0;
    top: -70px;
    left: 0;
    border-radius: 0;
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
    transition: background 500ms ease, -webkit-transform 500ms ease;
    transition: transform 500ms ease, background 500ms ease;
    transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
    transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    z-index: 99;
    padding-bottom: 10px;
  }
  .mt-header__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mt-header__bottom {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1350px) {
  .mt-header__left .mt-search {
    display: none;
  }
  .mt-header__menu ul .mt-search {
    display: block;
  }
  .ham-menu.active .ham-menu__ham-line {
    background-color: #E21F26;
  }
  .mt-header__menu li a {
    padding: 15px 3px;
    font-size: 14px;
    font-weight: 600;
  }
  .mt-header .ham-menu {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ham-menu.active span:first-of-type {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 12px;
    height: 4px;
  }
  .ham-menu.active span:nth-of-type(2) {
    display: none;
  }
  .ham-menu.active span:last-of-type {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -8px;
    height: 4px;
  }
  .mt-header__menu ul {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    left: -100%;
    width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mt-header__wrapper.active .mt-header__menu ul {
    left: 0%;
  }
  h1 {
    font-size: 36px;
  }
  section h2 {
    font-size: 36px;
  }
  form .mt-half {
    display: block;
  }
  .mt-half .mt-input-wrapper {
    width: 100%;
  }
  .mt-header.header_fixed {
    background-color: #fff;
    z-index: 98;
    position: fixed;
    width: 100%;
    margin: 0;
    top: -70px;
    left: 0;
    border-radius: 0;
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
    transition: background 500ms ease, -webkit-transform 500ms ease;
    transition: transform 500ms ease, background 500ms ease;
    transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
    transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    z-index: 99;
  }
  .mt-header__menu {
    display: block;
  }
  .mt-header__wrapper.active .mt-header__bottom {
    padding: 15px 0;
  }
  .mt-header__menu li a {
    font-size: 16px;
  }
  .mt-user-options a {
    margin: 0 5px;
  }
}

@media screen and (max-width: 991px) {
  .mt-header.header_fixed .mt-header__logo {
    display: none;
  }
  .mt-header__top .col-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .mt-header__top .col-12 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 20px;
  }
  .mt-header__top .col-10 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .mt-header__bottom {
    margin-bottom: 0;
  }
  .mt-footer__menu {
    margin-bottom: 45px;
  }
  .mt-product-slider .slick-list {
    margin: 0;
  }
  .mt-footer__bottom .d-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mt-tabs .mt-log-out {
    left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .mt-inner-page-banner__wrapper h2 {
    font-size: 40px;
  }
  .mt-billboard__content h2 {
    font-size: 28px;
  }
  .mt-product-menu .mt-section-heading {
    cursor: pointer;
  }
  .mt-product-menu .mt-section-heading:hover h2 {
    color: #E21F26;
  }
  .mt-product-menu .mt-section-heading h2:after {
    font-family: "FontAwesome";
    content: "\f107 ";
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    position: absolute;
    right: 15px;
    color: #9ACDD9;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .mt-product-menu .mt-section-heading.active h2:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .mt-product-filter {
    display: none;
  }
  .mt-tabs .mt-log-out {
    bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  .mt-header-contact {
    display: none;
  }
  #counters_1 .counter {
    font-size: 40px;
  }
  #counters_1 .mt-counter-wrapper span {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */